<!DOCTYPE html>
<html>

<head>
  <title>Sign Up</title>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link href="css/style.css" rel='stylesheet' type='text/css' />
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
      </div>


      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
        <form data-toggle="validator" id="signin" class="navbar-form navbar-right" role="form" method="POST" action="/login">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input id="email" type="text" class="form-control" name="userNameOrEmail" value="" placeholder="User Name Or Email" required>
            </div>
            <div id="error-message" class="help-block with-errors" style="opacity: 0; color:red">Show login error message...</div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input id="password" type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
            <div class="help-block" style="opacity:0">Adjust location</div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Login</button>
            <div class="help-block with-errors" style="opacity: 0">Adjust button location</div>
          </div>
        </form>
      </div>
    </div>
  </nav>

  <div class="wrapper">

    <div class="alert alert-success">
      <button class="close" data-dismiss="alert" type="button">×</button>
      <strong>Sign Up Success!</strong> Please log in to
      <i><strong id="singed-up-userName"></strong></i> account!...
    </div>
    <br/>

    <form data-toggle="validator" class="form-signin" method="POST" action="/signup">
      <h3 class="form-signin-heading">Please Sign Up</h3>
      <br/>

      <div class="alert alert-error" id="alert-error">
        <button class="close" data-dismiss="alert" type="button">×</button>
        <strong id="message"></strong>
      </div>

      <div class="form-group">
        <input type="email" class="form-control input-lg" placeholder="Email" name="email" error="Email address is invalid" required>
        <div class="help-block with-errors" >Please fill email address..</div>
      </div>

      <div class="form-group">
        <input type="text" class="form-control input-lg" maxlength="15" data-minlength="2" placeholder="User Name" name="userName" required>
        <div class="help-block with-errors">Minimum of 2 characters</div>
      </div>

      <div class="form-group">
        <input type="password" class="form-control input-lg" placeholder="******" name="password" data-minlength="6" required>
        <div class="help-block with-errors">Minimum of 6 characters</div>
      </div>

      <div class="form-group">
        <button id="btnSignUp" type="submit" class="btn btn-lg btn-primary btn-block">Sign Up</button>
      </div>
      <!-- <br/>

      <br/>

      <br/> -->
  </form>

</div>

<!-- jQuery library -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/bootstrap-validator/dist/validator.min.js"></script>

<script>
  var loginError = <%- JSON.stringify(err) %>;
  var msg = <%- JSON.stringify(error) %>;
  var userName = <%- JSON.stringify(userName) %> || '';

  if (loginError != '') {
    $('#error-message').text(loginError);
    $("#error-message").css({ "opacity": 1});
  }

  if (msg != '') {
    $('#message').text(msg);
    $(".alert-error").css({ "display": "block"});
  }

  if (userName != '') {
    $('#singed-up-userName').text(userName);
    $(".alert-success").css({ "opacity": 1});
  }

</script>

</body>
</html>
