<!DOCTYPE html>
<html>
<head>
  <title>Decision Table WorkSpace </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link href="/bower_components/jQuery-contextMenu/dist/jquery.contextMenu.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/styles/importer.css">
	<link rel="stylesheet" href="/css/workspace.css">
	<link rel="stylesheet" href="/styles/style.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>

<body>
  <div id="root-container">
    <div id="workspace-container">
      <div id="tool-container">
        <div id="menu-container">
          <ul>
            <li>
                <a href="#">File</a>
                <div class="dropdown">
                  <ul>
                      <li><a href="#">New</a></li>
                      <li><a href="#">Refersh</a></li>
                      <li><a href="#">Save</a></li>
                  </ul>
                </div>
            </li>
            <li><a href="#">Edit</a>
              <div class="dropdown">
                <ul>
                    <li><a href="#">Copy</a></li>
                    <li><a href="#">Paste</a></li>
                    <li><a href="#">Redo</a></li>
                    <li><a href="#">Undo</a></li>
                </ul>
              </div>
            </li>
            <li><a href="#">Setting</a></li>
            <li class="logout">
              <a href="/logout"><%=req.user.userName %> &nbsp; &nbsp;	<span class="glyphicon glyphicon-user"></span></a>
            </li>
          </ul>
        </div>
        <div id="toolbar-container">
          <a href="#" class="save" id="saveID"><i class="fa fa-floppy-o"></i></a>
  				<a href="#" class="refresh" id="refreshID"><i class="fa fa-refresh"></i></a>
  				<a href="#" class="undo" id="undoID"><i class="fa fa-reply"></i></a>
  				<a href="#" class="redo" id="redoID"><i class="fa fa-share"></i></a>
        </div>
      </div>
      <div id="component-container">
        <div id="main-area">
          <div id="main-left-panel">
            <div id="project-explorer"></div>
          </div>
          <div id="main-right-panel">
            <div id="editor-container">
              <div id="editor-status-bar">
                <a href="#">Link</a>
        				<a href="#">Link</a>
        				<a href="#">Link</a>
        				<a href="#">Link</a>
              </div>
              <div id="editor"></div>
            </div>
          </div>
        </div>
        <div id="extended-area"></div>
      </div>
      <div id="status-bar"></div>
			<div id="dialog-form" title="Creating a new one ">
    		<form>
    			<fieldset>
    				<input type="text" name="name" id="resourceID" class="text ui-widget-content ui-corner-all" placeholder="Enter Name" />
    				<input type="submit" tabindex="-1" style="position:absolute; top:-1000px" />
    			</fieldset>
    		</form>
    	</div>
    </div>
  </div>
  </body>

  <script>
  	var projectName = "To be fixed here";
  	var projectId = "<%- projectId %>";
  	console.log("Project Id is " + projectId);
    var userName = "<%=req.user.userName %>";
    console.log("userName in workspace.ejs : " + userName);
  	var myMap = new Map();
  	var undoDataMap = new Map();
  	var redoDataMap = new Map();
  </script>

  <script src="/dependencies/sails.io.js"></script>
  <script src="/bower_components/requirejs/require.js"></script>
  <script src="/js/workspace.js"></script>

</html>
