<!DOCTYPE html>
<html>
<head>
	<title>Decision Table WorkSpace </title>

	<link href="https://swisnl.github.io/jQuery-contextMenu/dist/jquery.contextMenu.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/styles/importer.css">
	<link rel="stylesheet" href="/styles/main.css">
	<link rel="stylesheet" href="/styles/style.css">
	<!-- for file input entry dialog -->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>

<body>

	<div class="container">

		<div class="headerDiv"></div>

		<div class="contentDiv">

			<div class="left" id="leftID">

				<div class='titleMenu' id='titleMenuID'>

					<span id='minusID'>- -</span>

					<span>Folder</span>

					<span><div class='createButton'>

						<input type='button' value='+' id="file-create"/>

					</div></span>

				</div>

				<div class='newProjectCreate' id='file-list-container'></div>

			</div>

			<div class="center" id="centerID">
				<div class="menu" id="menuID">
					<ul>
						<li><a class="save" id="saveID" href="#">Save</a></li>
						<li><a class="reload" id="reloadID" href="#">ReLoad</a></li>
					</ul>
				</div>
				<div class="dtTable" id="decTableID"></div>
			</div>

			<div class="bottomOfCenter" id="bottomOfCenterID"></div>

			<div class="right" id="rightID">

				<div id="title_barID">

					<div id="restoreButtonID">-</div>

				</div>

				<div id="boxID"></div>

			</div>

		</div>

	</div>

	<div id="dialog-form" title="Create New File">

		<form>

			<fieldset>

				<input type="text" name="name" id="fileID" class="text ui-widget-content ui-corner-all" placeholder="Enter File Name" />

				<input type="submit" tabindex="-1" style="position:absolute; top:-1000px" />

			</fieldset>

		</form>

	</div>

	<script src="/dependencies/sails.io.js"></script>
  <script src="/bower_components/requirejs/require.js"></script>
  <script src="/js/workspace.js"></script>
	<script>
	var projectName = <%- JSON.stringify(projectName) %> ;
	var myMap = new Map();
	</script>

</body>

</html>
