body {
	background: white;
}

div {
    display: block;
}

div.container {
	width: 70%;
	margin: auto;
}

div.alert-error{
	color: white;
	opacity: 0;
}

strong {
	font-size: medium;
}

h3.project-title {
	margin-right: 200px;
}

.wrapper {
	margin-top: 80px;
  margin-bottom: 80px;
}

.list-group-item {
	margin-right: 60%;
}

.list-group-item:hover {
	background-color: blue;
}

ul.content-list, .member-list {
	list-style: none;
	padding: 5px;
	display: block;
}

ul.member-list>li {
    padding: 15px 15px 15px 25px;
		font-size: medium;
}

ul.content-list>li {
    padding: 15px;
		font-size: medium;
    border-bottom: 1px solid #ddd;
    margin: 0;
}

ul.content-list>li .control {
    float: right;
}

form.form-inline {
	margin-left: 50%;
	margin-bottom:20px;
}

.form-group {
	margin-left: 100px;
	margin-top: 20px;
}

span.project-create-label {
	font-size: 17px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);

  .form-signin-heading {
	  font-weight: bolder;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: 50px;;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

	.input-lg {
		height: 40px;
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
}
